<div class="section-box">
    <div class="section-title">
        Simulation Options
    </div>
    <div class="section-subtitle">
        Spell Traces
    </div>
    <div class="input-row">
        <label for="traceTypeInput" class="input-label">Spell Trace type:</label>
        <select id="traceTypeInput" class="input-box">
            <option *ngFor="let traceType of traceTypeSelectInputData"
                [selected]="traceType.selectValue === selectedTraceType"
                [value]="traceType.value"
                >
                {{traceType.displayString}}
            </option>
        </select>
    </div>
    <div class="spacer"></div>
    <div class="section-subtitle">
        Innocence Scrolls
    </div>
    <div class="input-row">
        <label for="failsToInnoInput" class="input-label">Number of failed slots before using Inno Scrolls: </label>
        <input id="failsToInnoInput" class="input-box" type="number" min="0" />
    </div>
    <div class="input-row">
        <label for="useSpellTraceInnoInput" class="input-label">Use Inno Scrolls from Spell Traces:</label>
        <input id="useSpellTraceInnoInput" class="input-box" type="checkbox" />
    </div>
    <div class="input-row">
        <label for="innoScrollTypeInput" class="input-label">Inno Scroll type:</label>
        <select id="innoScrollTypeInput" class="input-box">
            <option *ngFor="let innoType of innoTypeSelectInputData"
                [selected]="innoType.selectValue === selectedInnoType"
                [value]="innoType.value"
                >
                {{innoType.displayString}}
            </option>
        </select>
    </div>
    <div class="spacer"></div>
    <div class="section-subtitle">
        Clean Slate Scrolls
    </div>
    <div class="input-row">
        <label for="useSpellTraceCssInput" class="input-label">Use CSSs from Spell Traces:</label>
        <input id="useSpellTraceCssInput" class="input-box" type="checkbox" />
    </div>
    <div class="input-row">
        <label for="cssTypeInput" class="input-label">CSS type: </label>
          <select id="cssTypeInput" class="input-box">
            <option *ngFor="let cssType of cssTypeSelectInputData"
                [selected]="cssType.selectValue === selectedCssType"
                [value]="cssType.value"
                >
                {{cssType.displayString}}
            </option>
          </select>
    </div>
    <div class="spacer"></div>
    <div class="section-subtitle">
        Cost
    </div>
    <div class="note">
        Note: You can leave these values as blank if you don't use the scrolls or you don't want Mesos cost estimations. 
    </div>
    <div class="spacer"></div>
    <div class="input-row">
        <label for="traceCostInput" class="input-label">Cost per Spell Trace in Mesos: </label>
        <input id="traceCostInput" class="input-box" type="number" min="0" />
    </div>
    <div class="input-row">
        <label for="cssCostInput" class="input-label">Cost per CSS in Mesos: </label>
        <input id="cssCostInput" class="input-box" type="number" min="0" />
    </div>
    <div class="input-row">
        <label for="innoCostInput" class="input-label">Cost per Inno Scroll in Mesos: </label>
        <input id="innoCostInput" class="input-box" type="number" min="0" />
    </div>
    <div class="spacer"></div>
    <div class="section-subtitle">
        Other Bonuses
    </div>
    <div class="input-row">
        <label for="feverInput" class="input-label">Fever Time:</label>
        <input id="feverInput" class="input-box" type="checkbox" />
    </div>
    <div class="input-row">
        <label for="discountInput" class="input-label">50% Spell Trace cost discount:</label>
        <input id="discountInput" class="input-box" type="checkbox" />
    </div>
    <div class="input-row">
        <label for="diligenceInput" class="input-label">Diligence bonus: </label>
          <select id="diligenceInput" class="input-box">
            <option *ngFor="let diligenceBonus of diligenceLevelSelectInputData"
                [selected]="diligenceBonus.selectValue === selectedDiligenceLevel"
                [value]="diligenceBonus.value"
                >
                {{diligenceBonus.displayString}}
            </option>
          </select>
    </div>
    <div class="input-row">
        <label for="guildMasteryInput" class="input-label">Guild Enhancement Mastery bonus: </label>
          <select id="guildMasteryInput" class="input-box">
            <option *ngFor="let guildEnhancementMasteryBonus of guildEnhancementMasteryBonusSelectInputData"
                [selected]="guildEnhancementMasteryBonus.selectValue === selectedGuildEnhancementMasteryBonus"
                [value]="guildEnhancementMasteryBonus.value"
                >
                {{guildEnhancementMasteryBonus.displayString}}
            </option>
          </select>
    </div>
    <div class="input-row">
        <label for="guildSalvationInput" class="input-label">Guild Upgrade Salvation bonus: </label>
          <select id="guildSalvationInput" class="input-box">
            <option *ngFor="let guildUpgradeSalvationLevel of guildUpgradeSalvationBonusSelectInputData"
                [selected]="guildUpgradeSalvationLevel.selectValue === selectedGuildUpgradeSalvationBonus"
                [value]="guildUpgradeSalvationLevel.value"
                >
                {{guildUpgradeSalvationLevel.displayString}}
            </option>
          </select>
    </div>
    <div class="button-wrapper">
        <div class="button button-danger">Reset simulation options</div>
    </div>
</div> 