<div class="section-box">
    <div class="section-title">
        Equipment Options
    </div>
    <div class="input-row">
        <label for="totalSlotsInput" class="input-label">Total number of slots:</label>
        <input id="totalSlotsInput" class="input-box" type="number" min="0" />
    </div>
    <div class="input-row">
        <label for="succeededSlotsInput" class="input-label">Number of succeeded slots:</label>
        <input id="succeededSlotsInput" class="input-box" type="number" min="0" />
    </div>
    <div class="input-row">
        <label for="failedSlotsInput" class="input-label">Number of failed slots:</label>
        <input id="failedSlotsInput" class="input-box" type="number" min="0" />
    </div>
    <div class="input-row">
        <label for="costPerClickInput" class="input-label">Spell Trace cost per click:</label>
        <input id="costPerClickInput" class="input-box" type="number" min="0" />
    </div>
    <div class="button-wrapper">
        <div class="button button-danger">Reset equipment options</div>
    </div>
</div>
